.video {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  cursor: pointer;

  &__player {
    background-color: black;
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}
